@font-face {
	font-family: "shareicon";
	src: url('/style/font/font-share.eot?t=1504964652273');
	src: url('/style/font/font-share.eot?t=1504964652273#iefix') format('embedded-opentype'), url('/style/font/font-share.ttf?t=1504964652273') format('truetype'), url('/style/font/font-share.svg?t=1504964652273#shareicon') format('svg');
}

/* SocialSharing */
.btn-share{
	height: 42px;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	line-height: 42px;
}
.btn-share nav{
	margin: 0 auto;
	width: 300px;
}
.btn-share span{
	float: left;
}
.btn-share a{
	display: inline-block;
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 50%;
    color: rgba(0,0,0,0.50);
    background: #f5f5f5;
	margin-right: -4px;
	margin-top:8px;
	margin-left: 10px;
}

.btn-share i{
  font-family: "shareicon" !important;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn-share a{
	text-decoration: none
}
.btn-share a:hover{
	color: #fff;
	transition: background 0.3s ease-in 0.05s,color 0.3s ease-out 0.05s;
}
.btn-share a.weixin:hover{
	background: #2DC000;
}
.btn-share a.weibo:hover{
	background: #E6152C;
}
.btn-share a.qq:hover{
	background: #0173FE;
}
.btn-share a.qzone:hover{
	background: #FEB60C;
}
.btn-share i.icon-wechat:before {
	content: "\e603";
}
.btn-share i.icon-weibo:before {
	content: "\e604";
}
.btn-share i.icon-qzone:before {
	content: "\e601";
}
.btn-share i.icon-qq:before {
	content: "\e602";
}